---
import type { TPost } from "../../types/post";
import LinkButton from "../common/LinkButton.astro";

interface Props {
	post: TPost;
}
const { post } = Astro.props;

console.log(`/blog/${post.id}`);
---

<div class="blog-card">
	<div class="blog-card-content">
		<span class="blog-date">
			{post.data.pubDate.toLocaleDateString()}
		</span>
		<h2>{post.data.title}</h2>
		<div class="blog-description-action">
			<p class="blog-desc">{post.data.description}</p>
			<LinkButton text="READ" href={`/blog/${post.id}`} variant="outline"
			/>
		</div>
	</div>
</div>

<style>
	.blog-card {
		position: relative;
		background: var(--block-card-background);
		border-radius: var(--radii-10);
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 160px;
	}
	.blog-card:hover {
		background: var(--block-card-background-hover);
	}
	.blog-card-content {
		display: flex;
		flex-direction: column;

		height: 100%;
		flex: 3;
		h2 {
			color: var(--block-card-text);
		}
	}
	.blog-description-action {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		color: var(--button-blog-card-color);

		p {
			color: var(--block-card-text);
		}

		> a {
			border-color: 1px var(--button-blog-card-color);
			color: var(--button-blog-card-color);
		}

		> a:hover {
			background-color: var(--button-blog-card-background-hover);
			border-color: var(--button-blog-card-background-hover);
			color: var(--button-blog-card-color-hover);
		}
	}
	.blog-date {
		color: var(--text-blog-date);
		font-size: 14px;
		letter-spacing: 0.04em;
		padding-bottom: 10px;
	}
	.blog-desc {
		color: var(--text-main);
		font-size: 1.1rem;
		margin: 0 0 0.5rem 0;
		max-lines: 2;
	}
	.blog-read-btn:hover {
		background: var(--accent);
		color: #fff;
		border-color: var(--accent);
	}
	@media (max-width: 900px) {
		.blog-card {
			padding: 1.2rem 1rem 1.2rem 1rem;
		}
		.blog-title {
			font-size: 1.2rem;
		}
	}

	@media (max-width: 900px) {
		.blog-card {
			height: auto;
			flex-direction: column;
			gap: 10px;
		}
		.blog-description-action {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}
	}
</style>
