---
interface Props {
	variant?: "outline" | "link" | "colored" | "secondary";
	text: string;
	href?: string;
	outside?: boolean;
}
const { variant = "outline", text, href = "#", outside = false } = Astro.props;
const isLink = variant === "link";
---

{isLink ? (
	<a
		href={href}
		class={`button ${variant}`}
		target={outside ? "_blank" : "_self"}
		rel={outside ? "noopener noreferrer" : ""}>
		{text}
	</a>
) : (
	<a
		class={`button ${variant}`}
		href={href}
		target={outside ? "_blank" : "_self"}
		rel={outside ? "noopener noreferrer" : ""}>
		{text}
	</a>
)}

<style>
	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background-color: transparent;
		border: 1px solid var(--button-border-color);
		color: var(--button-border-color);
		text-align: center;
		text-transform: uppercase;
		font-size: var(--fs400);
		cursor: pointer;
		min-width: 200px;
		width: fit-content;
		height: 40px;
		font-family: var(--ff-heading);
		font-weight: 300;
		text-decoration: none;
	}

	.button:hover {
		border-color: var(--button-hover-background-color);
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-color);
	}

	.button:focus {
		outline: none;
		outline-offset: 0px;
	}

	.colored {
		background-color: var(--button-colored-background);
		border-color: var(--button-colored-background);
	}

	.outline {
		border: 1px solid var(--button-border-color);
	}

	.outline:hover {
		background-color: var(--button-hovered-background);
		border-color: var(--button-hovered-background);
	}

	.secondary {
		background-color: var(
			--button-secondary-background,
			var(--background-secondary)
		);
		border-color: var(--button-secondary-border, var(--accent));
		color: var(--button-secondary-text, var(--text-high-contrast));
	}

	.link {
		border: none;
		background: transparent;
		min-width: auto;
		height: auto;
		padding: 0;
		text-decoration: underline;
		color: var(--button-link-color);
	}

	.link:hover {
		background: transparent;
		border: none;
		color: var(--button-hovered-background);
	}
</style>
